

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Noto Serif KR', serif; */
  }

:root {
    --darkblue: #191960;
    --darkgray: #676767;
    --gray:#999;
}

h1 {
    letter-spacing: 2px;
    font-size: 2rem;
    line-height: 1.6;
    margin: 20px 0;
    font-weight: 100;
    color: rgb(27, 27, 27);
    font-family: 'Noto Serif KR', serif;
}

h2 {
    letter-spacing: 2px;
    font-size: 26px;
    line-height: 2.0;
    margin: 20px 0 0 60px;
    font-weight: 100;
    color: var(--darkblue);
    /* color:rgb(36, 36, 36) */
}

h3 {
    letter-spacing: 2px;
    font-size: 22px;
    line-height: 2.0;
    margin: 28px 0 28px 90px;
    font-weight: 100;
    color: rgb(31, 31, 31);
    /* color: var(--gray); */
}

h4 {
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 2.0;
    margin: 4px 0 0 28px;
    font-weight: 100;
    color: rgb(24, 24, 24);
    color: var(--gray);
}

p {
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 2.5;
    margin: 4px 130px;
    font-weight: 100;
    color: rgb(24, 24, 24);
    color: var(--gray);
    font-family: 'Noto Serif KR', serif;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0 50px;
}

li {
    padding: 5px;
}

table {
    margin: 20px 50px;
}

/*********************      home   *********************/

.homeContainer {
    /* background-color: lightcoral; */
    padding: 2rem;
}
/*********************      header / nav       *********************/

.nav {
    /* height: 100px; */
    width: 100%;

}

.navCenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
    /* background-color: aqua; */
}

.navSubTitle {
    margin-top: 0rem;
    padding-top: 0rem;
    text-align: center;
    letter-spacing: 20px;
    /* color: red; */
    font-size: 1rem;
}

.logo {
    /* width: 520px; */
    display: flex;
    /* height: 75px; */
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* background-color: lightcoral; */
}

.logoImage {
    color: gray;
}

.logoText {
    /* background-color: bisque; */
    /* height: 40px; */
    /* width: 490px; */
    color: var(--gray);
}

.logoKorean {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 20px;
    font-size: 55px;
    /* line-height: 1; */
    margin: 4px 0 0 20px;
    color: var(--darkgray);
    line-height: 1.6;
    /* margin: 20px; */
}


/*********************      Travel Main Page      *********************/

.travelContainer {
    color: var(--darkgray);
    font-size: 30px;
}

.travelMenu {
    /* border-top: 1px solid rgba(155, 155, 155, 0.168); */
    /* border-bottom: 1px solid rgba(155, 155, 155, 0.168); */
    padding: 3px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--darkgray);
}

.countryLink {
    margin: 5px 30px;
    color: var(--darkgray);
    transition: 300ms;
}

.country {
    font-size: 1.5rem;
    letter-spacing: 15px;
    padding: 8px 10px 5px 25px;
    border-radius: 35px;
    /* border-bottom: 2px solid gray; */
    transition: box-shadow 300ms;
    /* text-decoration: underline; */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; */
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
}

.country:hover {
    font-size: 1.5rem;
    letter-spacing: 15px;
    padding: 8px 10px 5px 25px;
    border-radius: 35px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 2px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 11px, rgb(255, 85, 85) 0px 0px 0px 13px;
    font-weight: 600;
    color: rgb(0, 6, 164);
}

.travelMain {
    /* background-color: lightseagreen; */
}



/* .catalogueMain {
    padding: 10px;
}

.catalogueMiddle {
    background-color: lightblue;
    min-width: 250px;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 0;
} */
/* 
.catalogueTitle {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: var(--darkgray);
    letter-spacing: 1px;
    display: inline-block;
}

.catalogueSubtitle {
    font-size: 20px;
    color: rgb(118, 118, 118);
    letter-spacing: 1px;
    margin: 0 0 7px 0;
    color: var(--darkgray);

}

.catalogueDate {
    font-size: 18px;
    color: rgb(80, 80, 80);
}

.catalogueContentBorder {
    padding: 10px 0;
    border-bottom: 1px solid rgba(155, 155, 155, 0.168);
} */

/*********************      country catalogue page    *********************/

.countryContainer {
    /* background-color: lightblue; */
    height: 100%;
    min-height: 100vh;
    border-top: 1px solid rgba(0, 0, 0, 0.211);
}

.countryCategory h2{
    color: var(--darkgray);
    margin: 20px auto;
    /* min-width: 250px; */
    max-width: 650px;
    /* width: 100%; */
    /* background-color: lightcoral; */
    letter-spacing: 3px;
    text-decoration:underline;
    /* : 3px solid var(--darkgray); */
}

.countryBottom {
    /* border-top: 1px solid rgba(155, 155, 155, 0.168); */
    /* background-color: lightgreen; */
    height: 100%;
    min-width: 250px;
    max-width: 644px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    color: var(--darkgray);
}

.countryCard {
    /* background-color: rgb(243, 243, 243); */
    height: 250px;
    width: 250px;
    /* border: 1px solid rgba(0, 0, 0, 0.081); */
    margin: 25px;
    color: var(--darkgray);
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

.countryCard:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.countryImage {
    width: 100%;
    height: 100px;
    /* border: 1px solid rgba(0, 0, 0, 0.081); */
    border-radius: 5px 5px 0 0;
}

.countryTitle {
    padding: 5px 10px;
    color: var(--darkgray);
    height: 20px;
    font-size: 20px;

    letter-spacing: 1px;
    font-size: 24px;
    line-height: 1.0;
    margin: 18px;
    padding: 0px;
    font-weight: 100;
}


.countryDate {
    padding: 5px;
    margin-top: 0px;
    color: var(--darkgray);
    display: flex;
    justify-content: flex-end;

    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1;
    margin: 4px;
    font-weight: 100;
    color: rgb(24, 24, 24);
    color: var(--gray);
}

.countryParagraph {
    /* background-color: lightgreen; */
    padding: 2px 10px;
    /* height: 10px; */
}

.countrySubtitle {

    color: var(--darkgray);
    line-height: 1.2;

    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.3;
    margin: 2px 5px 12px 5px;
    font-weight: 100;
    color: rgb(52, 52, 52);
}

/*********************      detail page    *********************/

.detailContainer {
    /* background-color: lightblue; */
    min-width: 250px;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 0;
}

.detailMain {

}

.detailTitle h1 {
    color: var(--darkgray);
    padding: 15px;
}
