
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
}


:root {
    --darkblue: #191960;
    --darkgray: #676767;
    --gray:#999;
}
/*********************      header / nav       *********************/

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 589px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.logoImage {
    color: gray;
}

.logoText {
    /* background-color: bisque; */
    /* height: 40px; */
    /* width: 490px; */
    color: var(--gray);
}

.logoKorean {
    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 50px;
    font-size: 55px;
    line-height: 1.0;
    margin: 4px 0 0 28px;
    font-weight: 100;
    color: rgb(69, 69, 69);
    color: var(--gray);
}


/*********************      homepage      *********************/

.cataloguePage {
    color: var(--darkgray);
}

.catalogueFrameTop {
    /* background-color: lightcoral; */
    border-top: 1px solid rgba(155, 155, 155, 0.168);
    border-bottom: 1px solid rgba(155, 155, 155, 0.168);
    padding: 2px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    color: var(--darkgray);
}

.catalogueMenuLink {
    /* padding: 0 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.051);
    color: white;
    background-color:  var(--gray);
    border-radius: 5px;
    letter-spacing: 2px;
    height: 30px;
    padding: 2px 15px;
    margin: 4px 10px;

}

.catalogueMain {
    /* background-color: lightseagreen; */
    padding: 10px;
}

.catalogueMiddle {
    /* background-color: lightblue; */
    min-width: 250px;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 0;
}

.catalogueTitle {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: var(--darkgray);
    letter-spacing: 1px;
    display: inline-block;
}

.catalogueSubtitle {
    font-size: 20px;
    color: rgb(118, 118, 118);
    letter-spacing: 1px;
    margin: 0 0 7px 0;
    color: var(--darkgray);

}

.catalogueDate {
    font-size: 18px;
    color: rgb(80, 80, 80);
}

.catalogueContentBorder {
    padding: 10px 0;
    border-bottom: 1px solid rgba(155, 155, 155, 0.168);
}

/*********************      country catalogue page    *********************/

.countryContainer {
    /* background-color: lightblue; */
    height: 100%;
    min-height: 100vh;
    border-top: 1px solid rgba(0, 0, 0, 0.211);
}

.countryCategory {
    color: var(--darkgray);
    margin: 20px auto;
    min-width: 250px;
    max-width: 650px;
    width: 100%;
    /* background-color: lightcoral; */
}

.countryBottom {
    /* border-top: 1px solid rgba(155, 155, 155, 0.168); */
    /* background-color: lightgreen; */
    height: 100%;
    min-width: 250px;
    max-width: 644px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    color: var(--darkgray);
}

.countryCard {
    /* background-color: rgb(243, 243, 243); */
    height: 250px;
    width: 250px;
    /* border: 1px solid rgba(0, 0, 0, 0.081); */
    margin: 25px;
    color: var(--darkgray);
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

.countryImage {
    width: 100%;
    height: 100px;
    /* border: 1px solid rgba(0, 0, 0, 0.081); */
    border-radius: 5px 5px 0 0;
}

.countryTitle {
    padding: 5px 10px;
    color: var(--darkgray);
    height: 20px;
    font-size: 20px;
}


.countryDate {
    padding: 5px;
    margin-top: 13px;
    color: var(--darkgray);
    display: flex;
    justify-content: flex-end;
}

.countryParagraph {
    /* background-color: lightgreen; */
}

.countrySubtitle {
    padding: 5px;
    color: var(--darkgray);
    line-height: 1.6;
}