
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nav {
    border: 1px solid #4d00ff;
    background-color: lightblue;
}
.logo {
    display: flex;
    justify-content: center;
    width: 100px;
}
.korean {
    font-family: 'Black Han Sans', sans-serif;
    padding: 20px;
    letter-spacing: 2px;
    color: #4d00ff;
}

.catalogueMenuLinks {
    padding: 0 15px;
    display: flex;
    /* background-color: coral; */
}

.catalogueMenuLinksContainer {
    background-color: lightblue;
    display: flex;
}